.sider {
  color: #fff;
}

.switch {
  top: 5px;
  z-index: 1;
  right: -30px;
  opacity: 0.45;
  position: absolute;
}
.switch:hover {
  opacity: 1;
}

.logo {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.15);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 12px;
  border: 6px solid transparent;
  background-image: url("../../images/icon-512x512.png");
}
